venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
.env
Data Visualization/AdventureWorks/data/
Data Visualization/AdventureWorks/venv/
Data Visualization/AdventureWorks/output.txt
Data Visualization/AdventureWorks/*.twbr